
ToDoList/.vs/ToDoList/v16/Server/sqlite3/storage.ide-shm
ToDoList/.vs/ToDoList/v16/Server/sqlite3/storage.ide-wal
ToDoList/.vs/ToDoList/v16/.suo
ToDoList/bin/Debug/ToDoList.exe
ToDoList/bin/Debug/ToDoList.pdb
ToDoList/obj/Debug/App.g.cs
ToDoList/obj/Debug/App.g.i.cs
ToDoList/obj/Debug/MainWindow.g.cs
ToDoList/obj/Debug/MainWindow.g.i.cs
ToDoList/obj/Debug/ToDoList.csproj.CoreCompileInputs.cache
ToDoList/obj/Debug/ToDoList.csproj.GenerateResource.cache
ToDoList/obj/Debug/ToDoList.csproj.FileListAbsolute.txt
ToDoList/obj/Debug/ToDoList.csprojAssemblyReference.cache
ToDoList/obj/Debug/ToDoList.exe
ToDoList/obj/Debug/ToDoList.g.resources
ToDoList/obj/Debug/ToDoList.pdb
ToDoList/obj/Debug/ToDoList_MarkupCompile.cache
ToDoList/obj/Debug/ToDoList_MarkupCompile.lref
ToDoList/obj/Debug/Views/Completed.baml
ToDoList/obj/Debug/Views/Completed.g.cs
ToDoList/obj/Debug/Views/Completed.g.i.cs
ToDoList/obj/Debug/Views/Guages.g.cs
ToDoList/obj/Debug/Views/Guages.g.i.cs
ToDoList/obj/Debug/Views/NieUdane.baml
ToDoList/obj/Debug/Views/Udane.g.i.cs
ToDoList/obj/Debug/Views/Udane.g.cs
ToDoList/obj/Debug/Views/Udane.baml
ToDoList/obj/Debug/Views/OnGoing.g.i.cs
ToDoList/obj/Debug/Views/OnGoing.g.cs
ToDoList/obj/Debug/Views/OnGoing.baml
ToDoList/obj/Debug/Views/NieUdane.g.i.cs
ToDoList/obj/Debug/Views/NieUdane.g.cs
ToDoList/.vs/ToDoList/v16/.suo
ToDoList/bin/Debug/ToDoList.exe
ToDoList/bin/Debug/ToDoList.pdb
ToDoList/obj/Debug/App.g.cs
ToDoList/obj/Debug/App.g.i.cs
ToDoList/obj/Debug/MainWindow.g.cs
ToDoList/obj/Debug/MainWindow.g.i.cs
ToDoList/obj/Debug/ToDoList.csproj.CoreCompileInputs.cache
ToDoList/obj/Debug/ToDoList.csproj.GenerateResource.cache
ToDoList/obj/Debug/ToDoList.csproj.FileListAbsolute.txt
ToDoList/obj/Debug/ToDoList.csprojAssemblyReference.cache
ToDoList/obj/Debug/ToDoList.exe
ToDoList/obj/Debug/ToDoList.g.resources
ToDoList/obj/Debug/ToDoList.pdb
ToDoList/obj/Debug/ToDoList_MarkupCompile.cache
ToDoList/obj/Debug/ToDoList_MarkupCompile.lref
ToDoList/obj/Debug/Views/Completed.baml
ToDoList/obj/Debug/Views/Completed.g.cs
ToDoList/obj/Debug/Views/Completed.g.i.cs
ToDoList/obj/Debug/Views/Guages.g.cs
ToDoList/obj/Debug/Views/Guages.g.i.cs
ToDoList/obj/Debug/Views/NieUdane.baml
ToDoList/obj/Debug/Views/Udane.g.i.cs
ToDoList/obj/Debug/Views/Udane.g.cs
ToDoList/obj/Debug/Views/Udane.baml
ToDoList/obj/Debug/Views/OnGoing.g.i.cs
ToDoList/obj/Debug/Views/OnGoing.g.cs
ToDoList/obj/Debug/Views/OnGoing.baml
ToDoList/obj/Debug/Views/NieUdane.g.i.cs
ToDoList/obj/Debug/Views/NieUdane.g.cs
ToDoList/.vs/ToDoList/v16/.suo
ToDoList/bin/Debug/ToDoList.exe
ToDoList/bin/Debug/ToDoList.pdb
ToDoList/obj/Debug/App.g.cs
ToDoList/obj/Debug/App.g.i.cs
ToDoList/obj/Debug/MainWindow.g.cs
ToDoList/obj/Debug/MainWindow.g.i.cs
ToDoList/obj/Debug/ToDoList.csproj.CoreCompileInputs.cache
ToDoList/obj/Debug/ToDoList.csproj.GenerateResource.cache
ToDoList/obj/Debug/ToDoList.csproj.FileListAbsolute.txt
ToDoList/obj/Debug/ToDoList.csprojAssemblyReference.cache
ToDoList/obj/Debug/ToDoList.exe
ToDoList/obj/Debug/ToDoList.g.resources
ToDoList/obj/Debug/ToDoList.pdb
ToDoList/obj/Debug/ToDoList_MarkupCompile.cache
ToDoList/obj/Debug/ToDoList_MarkupCompile.lref
ToDoList/obj/Debug/Views/Completed.baml
ToDoList/obj/Debug/Views/Completed.g.cs
ToDoList/obj/Debug/Views/Completed.g.i.cs
ToDoList/obj/Debug/Views/Guages.g.cs
ToDoList/obj/Debug/Views/Guages.g.i.cs
ToDoList/obj/Debug/Views/NieUdane.baml
ToDoList/obj/Debug/Views/Udane.g.i.cs
ToDoList/obj/Debug/Views/Udane.g.cs
ToDoList/obj/Debug/Views/Udane.baml
ToDoList/obj/Debug/Views/OnGoing.g.i.cs
ToDoList/obj/Debug/Views/OnGoing.g.cs
ToDoList/obj/Debug/Views/OnGoing.baml
ToDoList/obj/Debug/Views/NieUdane.g.i.cs
ToDoList/obj/Debug/Views/NieUdane.g.cs
ToDoList/bin/Debug/ToDoList.exe
ToDoList/bin/Debug/ToDoList.pdb
ToDoList/.vs/ToDoList/v16/.suo
ToDoList/.vs/ToDoList/v16/Server/sqlite3/storage.ide
ToDoList/bin/Debug/Database1.mdf
ToDoList/bin/Debug/Database1_log.ldf
ToDoList/bin/Debug/ToDoList.exe
ToDoList/bin/Debug/ToDoList.pdb
